@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap&subset=cyrillic,cyrillic-ext');
@import 'materialize.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'owfont-regular.css';


$icon-color: #4FFADA; 

@mixin details {
    &::after {
        content: attr(data-info);
        position: absolute;
        top: 22px; 
        left: -10px;
        border-radius: 5px;
        opacity: 0;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.5em;
        padding: 0.5em 0.8em;
        background: rgba(0,0,0,0.8);
        color: #fff;
        pointer-events: none;
        transition: opacity 0.2s, top 0.2s;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 12px; left: 5px;
        opacity: 0;
        width: 0; 
        height: 0;
        border: solid transparent 5px;
        border-bottom-color: rgba(0,0,0,0.8);
        transition: opacity 0.2s, top 0.2s;
    }
    &:hover {z-index: 2;} 
    &:hover::after,
    &:hover::before {opacity: 1;}
    &:hover::after {top: 40px;}
    &:hover::before {top: 30px;}
}

* {
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
 //font-size: 16px;

 @media screen and (max-width: 768px) and (min-width: 450px) {
    font-size: 12px;
 }

 @media screen and (max-width: 450px) {
    font-size: 8px;
 }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fefefe;
}

.wrapper {
    margin: 20px;
}

//toolbar 
.toolbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

    & button,.search__input {
        border: none;
    }
}

.toolbar {
    width: 30%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 670px) {
     width: 40%;
    }
}

.tool-btn {
    width: 45px;
    background-color: #606060;
    transition: all 0.5s;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    position: relative;

    &:hover {
        opacity: 0.7;
    }

    &.active {
        opacity: 0.7;
    }
}

.temp-scale-select span {
        position: absolute;
        top: 10px;
        left: 8px; 
    }

.input-field {
    margin: 0;
}

.toolbar__refresh-background-btn {
    background-image: url("../assets/images/refresh.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 8px;
}

.select-wrapper input.select-dropdown {
    margin: 0;
    padding-left: 3px;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;  

    &:focus {
        border: none;
    }
}

.toolbar__temp-scale-select {
    width: 80px;
    display: flex;
}

//form

.search {
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) and (min-width: 650px) {
        width: 40%;
    }    
    
    @media screen and (max-width: 650px) {
        width: 50%; 
    } 
}

.search__speech-button {
    cursor: pointer;
    width: 60px;
    background-color: grey;
    opacity: 0.5;
    background-image: url("../assets/icons/microphone.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: all 0.5s;

    &:hover {
        opacity: 0.7;
    }
}

.search__general-button {
    outline: none;
    cursor: pointer;
    width: 80px;    
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    transition: all 0.5s;

    &:hover {
        background-color: #494747;
        color: #fff;
    }

    &:focus {
        outline: none;
    }
}

.search__input {
    background-image: url(../assets/icons/search.svg);
    background-color: grey;
    opacity: 0.5;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: -2px 6px;
    padding: 0 0 0 23px;
    width: 100%;

    &::placeholder {
        color: white;
        font-size: 16px;
    }

    &:focus {
        outline: none;
    }
}

//main

main {
    background-color: grey;
    margin-top: 10px;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 768px) {
           flex-direction: column;
           height: 100vh;
    }
}

.weather, 
.location {
    width: 58%;
    height: 90%;
    background-color:#7e2b2b;
    padding: 0 30px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: 50%;
        width: 100%;
    }
}

.weather__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color: green;
    height: 15%;    
    color: #FFFFFF;

    & .material-icons {
            font-size: 2.5rem;
        }

    & .header__location {
        background-color: red;
        height: 60%;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 4rem;
        text-transform: uppercase;        
    }

     & .header__date {
        height: 40%;
        background-color: blue;     
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.current-weather {
    height: 50%;
    background-color: violet;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        justify-content: space-evenly;
    }  

    & .current-weather__temperature {
        font-size: 15rem;

        @media screen and (max-width: 900px) and (min-width: 650px) {
           font-size: 13rem;
        }

        @media screen and (max-width: 650px) {
           font-size: 10rem;
        }        
    }
    

    & .current-weather__details {
        background-color: #691636;
        font-size: 1.5rem;

        @media screen and (max-width: 900px)  {
           font-size: 1rem;
        }
        
        & .details__icon {
            font-size: 1.5rem;
            color: $icon-color;
        }
    }
}

.forecast-container {
    height: 30%;
    background: black;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    display: flex; 
    justify-content: space-between;

    & :nth-child(n+1) {
        background: darkblue;
        width: 30%;
    }

    & .forecast-header {
        font-size: 2rem;
    } 

    & .forecast-body {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    & .forecast-temperature {
        font-size: 5rem;
    } 

    & .forecast-icon {
        color:$icon-color; 

        & .owf {
            margin-top: 50%;
        }
    }
}


.location {
    width: 39%;
    background-color:rgb(14, 14, 36);
    padding: 0;

    & .location__map { 
        width: 100%;
        height: 80%;
        background: lightblue;
        clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

        @media screen and (max-width: 768px) {
            clip-path: none;
        }
    }

    & .location__coordinates {
        margin-top: 10px;
        background: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
    }
}
