@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap&subset=cyrillic,cyrillic-ext');
@import 'materialize.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'owfont-regular.css';
@import url('https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css');

* {
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
    background-image: url(../assets/images/bg1.png);
    background-size: cover;   
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 3000px rgba(0, 0, 0, 0.4);
    min-height:100%;
    transition: all 0.3s;

 @media screen and (max-width: 768px) and (min-width: 560px) {
    font-size: 12px;
 }

 @media screen and (max-width: 560px) and (min-width: 450px){
    font-size: 10px;
 }
 @media screen and (max-width: 450px) and (min-width: 320px){
    font-size: 8px;  
 }
}

body { 
    font-family: 'Montserrat', sans-serif;
}

//loader 

.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    opacity: 0.8;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wrapper {
    padding: 20px;
   // height: 100%;
}

//toolbar 
.toolbar-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & button,.search__input {
        border: none;
    }
}

.toolbar {
    width: 30%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 670px) {
     width: 40%;
    }

    @media screen and (max-width: 500px) {
     width: 50%;
    }
    @media screen and (max-width: 400px) {
     width: 100%;
     margin-bottom: 10px;
    }
}

.tool-btn {
    width: 45px;
    min-width: 45px;
    height: 45px;
    background-color: #606060;
    transition: all 0.5s;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    position: relative;
    opacity: 1;
}

.temp-scale-select span {
        position: absolute;
        top: 10px;
        left: 8px; 
    }

.input-field {
    margin: 0;
}

.toolbar__refresh-background-btn {
    background-image: url("../assets/images/refresh.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 8px;

    & i.small {
        font-size: 24px!important;
    }    
}

.select-wrapper input.select-dropdown {
    margin: 0;
    border: none;
    padding-left: 3px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    &:focus {
        border: none;
    }
}

.toolbar__temp-scale-select {
    width: 80px;
    display: flex;

    & .tool-btn {
        opacity: 0.7;
    }

    & .tool-btn.active {
        opacity: 1;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(238, 226, 232) 0px 0px 20px, rgb(218, 208, 213) 0px 0px 30px, rgb(187, 173, 180) 0px 0px 40px, rgb(173, 170, 172) 0px 0px 50px, rgb(175, 167, 171) 0px 0px 75px;
    }
}

//voice notification 

.toolbar__voice-notification {
    width: fit-content;
    padding: 10px 5px;
    font-size: 14px;
}

//form

.search {
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) and (min-width: 670px) {
        width: 40%;
    }    
    
    @media screen and (max-width: 670px) {
        width: 100%; 
        margin-top: 10px;
    } 
}

.search__speech-button {
    cursor: pointer;
    width: 60px;
    background-color: grey;
    opacity: 0.5;
    background-image: url("../assets/icons/microphone.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    position: relative;
    transition: all 0.3s;

    &:hover {
        opacity: 0.7;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 80%;
        bottom: 10px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: black;
        opacity: 0.7;
    }

    &.active::before {
        content: '';
        display: block;
        position: absolute;
        left: 80%;
        bottom: 10px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        //background-color: red;
        animation: blinking 1s ease infinite;
        animation-direction: alternate;
        opacity: 0.8;
    }
}

@keyframes blinking {   
  from {     
    background-color: black;   
  }   
  to {
    background-color: red;
   }
}

.search__general-button {
    outline: none;
    cursor: pointer;
    width: 80px;    
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    transition: all 0.5s;

    &:hover {
        background-color: #494747;
        color: #fff;
    }

    &:focus {
        outline: none;
    }
}

.search__input {
    background-image: url(../assets/icons/search.svg);
    background-color: grey;
    opacity: 0.5;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: -2px 6px;
    padding: 0 0 0 23px;
    width: 100%;

    &::placeholder {
        color: white;
        font-size: 16px;
    }

    &:focus {
        outline: none;
    }
}

//main

main {
    //background-color: grey;
    margin-top: 10px;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 767px) {
           flex-direction: column;
           height: 100vh;
    }
}

.weather, 
.location {
    width: 58%;
    height: 90%;
    //background-color:#7e2b2b;
    padding: 0 30px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        width: 100%;
    }
}

.weather__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    //background-color: green;
   // height: 15%;    
    color: #FFFFFF;

    & .material-icons {
            font-size: 2.5rem;
        }

    & .header__location {
       // background-color: red;
        //height: 60%;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 4rem;
        text-transform: uppercase;        
    }

     & .header__date {
       // height: 40%;
       // background-color: blue;     
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

.current-weather {
    //height: 50%;
 //   background-color: violet;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        justify-content: space-evenly;
    }  

    & .current-weather__temperature {
        font-size: 15rem;

        @media screen and (max-width: 900px) and (min-width: 650px) {
           font-size: 13rem;
        }

        @media screen and (max-width: 650px) {
           font-size: 10rem;
        }        
    }

    & .current-weather-icon {
        width: 180px;
        height: 180px;

        @media screen and (max-width: 600px)  {
            width: 100px;
            height: 100px;
        }
    }
    

    & .current-weather__details {
        font-size: 1rem;
        text-transform: uppercase;

        @media screen and (max-width: 900px)  {
           font-size: 1rem;
        }

        & .text-details {
            margin-top: -40px;
            
            @media screen and (max-width: 900px)  {
              margin-top: -50px;
            }
            @media screen and (max-width: 600px) and (min-width: 320px) {
              margin-top: -14px;
            }
        }
        
        & .details__icon {
          margin-top: -30px;
        }
    }
}

.forecast-container {
   // height: 30%;
    margin-top: 20px;
    //background: black;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    display: flex; 
    justify-content: space-between;

    & .forecast-container__first,
    .forecast-container__second,
    .forecast-container__third  {
       // background: darkblue;
        width: 30%;
    }

    & .forecast-header {
        font-size: 1.5rem;
         @media screen and (max-width: 1100px) {
         font-size: 1rem;
    }  
    } 

    & .forecast-body {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    & .forecast-temperature {
        font-size: 5rem;
     @media screen and (max-width: 1100px) {
         font-size: 3rem;
    } 
     @media screen and (min-width: 320px) and (max-width: 400px) {
         font-size: 2rem;
    }    
    } 

    & .fcst-weather-icon {
        width: 100px;
        height: 100px;

        @media screen and (max-width: 950px) and (min-width: 400px){
            width: 80px;
            height: 80px;
        } 

        @media screen and (min-width: 320px) and (max-width: 400px) {
            width: 40px;
            height: 40px;
        } 
    }
}


.location {
    width: 39%;
    //background-color:rgb(14, 14, 36);
    padding: 0;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    & .location__map { 
        width: 100%;
        height: 80%;
        //background: lightblue;
        border-radius: 5px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 51% 100%, 50% 75%, 0% 75%);

        @media screen and (max-width: 767px) {
            clip-path: none;
            width: 70%;
            height: 100%;
        }
    }

    & .location__coordinates {
        margin-top: 10px;
       // background: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        height: fit-content;
    }
}

.tool-btn:hover,
.search__general-button:hover {
   background-image:linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
     );
    background-repeat: repeat;
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
